[user]
	email = justinlargo7@gmail.com
	name = Justin Largo
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIJNSbhWSOaOVtrwjxYIsdvkpMr9VPNCrwwSV8HTJe3as
[gpg]
	format = ssh
[gpg "ssh"]
{{- if eq .chezmoi.os "darwin" }}
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
{{- else if eq .chezmoi.os "linux" }}
	program = /opt/1Password/op-ssh-sign
{{- end }}
[commit]
	gpgsign = true
[url "git@github.com:jlargs64/"]
	insteadOf = https://github.com/jlargs64/
